/* CSS Document */

/* ################################################################# */
/* HTML Standart Tags */
/* ################################################################# */

body, html {background:gray; margin:@; padding:0; width:100%; height:100%;}

.player-badge, div, p, span
{font-family:'Lato',sant-serif; font-size: 16px;}
/* ################################################################# */
/* Badges Aufbau */
/* ################################################################# */

.player-badge
{color: #fff; display: inline-block; padding:1px 3px; border-radius: 3px; margin-right: 3px; line-height:1.3; font-weight:400; font-size:.8em; margin-left: 3x}

/* ################################################################# */
/* Badges */
/* ################################################################# */

.player-badge--creator
{ background:#fff; text-shadow:none; color:#57bb8a;}

.player-badge--star
{ background:#fff; text-shadow:none; color:#daa400;}

.player-badge--boss
{ background:#fff; text-shadow:none; color:#c53609;}

.player-badge--donate
{ background:#fff; text-shadow:none; color:#00c853}

.player-badge--100donate
{ background:#fff; text-shadow:none; color:#00C853;}

.player-badge--developer
{ background:#fff; text-shadow:none; color:#2196F3;}

.player-badge--leader

{ background:#fff; text-shadow:none; color:#2196F3;}
